atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
cachetools==2.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.4.1
dill==0.2.7.1
Django==1.10.2
entities==1.0.0
Flask==0.12.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
google-api-python-client==1.5.5
google-auth==1.2.1
google-resumable-media==0.3.1
grpcio==1.7.3
gunicorn==19.7.1
httplib2==0.9.2
hypothesis==3.84.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
mock==2.0.0
model-mommy==1.6.0
more-itertools==4.3.0
numpy==1.15.4
oauth2client==4.0.0
pandas==0.23.4
pbr==5.1.1
pluggy==0.8.0
ply==3.8
prettytable==0.7.2
protobuf==3.5.0.post1
psycopg2==2.7.6.1
py==1.10.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pypiserver==1.2.5
pyreadline==2.1
pytest==4.0.2
python-dateutil==2.7.5
python-firebase==1.2
pytz==2017.3
requests==2.18.4
rsa==3.4.2
six==1.10.0
SQLAlchemy==1.2.15
swampy==2.1.7
swapper==1.1.0
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.22
urlopen==1.0.0
Werkzeug==0.11.15
WTForms==2.1
